html {
    height: 100%;
    width: 100%;
  }
  
  body {
    width: 100%;
    position: fixed;
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: row;
    z-index: 1;
    color: white;
    font-family: Arimo, sans-serif;
    font-size: 13px;
  }
  
  #topBar {
    left: -8px;
    top: -8px;
    height: 115px;
    width: 100%;
    border: 1px solid rgb(35, 35, 35);
    position: absolute;
    background-color: rgb(60, 60, 60);
    text-align: left;
    font-weight: bold;
    font-family: Krub;
    font-size: 2em;
  }
  
  #mainPart {
    position: fixed;
    top: 120px;
    font-size: large;
    font-family: Krub;
  }

  a {
    color: white;
  }

  li {
    padding-top: 10px;
  }